<section class="contact">
    <div class="container">
        <div class="contact__content">
            <h2 class="contact__title">
                Contact us
            </h2>
            <div class="contact__block">
                <form class="contact__form">
                        <input type="text" name="FirstName" id="nameform" placeholder="Name" aria-label="name">

                        <input type="text" name="email" placeholder="Email" aria-label="Email">

                        <textarea rows="4" cols="50" placeholder="Message" aria-label="Message">
                            
                        </textarea>
                        <button tybe="submit">Send</button>
                    
                </form>

                <div class="contact__address">

                    <p class="adress__type">Phone</p>
                    <p class="address__info">+1 234 5555-55-55</p>

                    <p class="adress__type">Email</p>
                    <p class="address__info">hello@miami.com</p>

                    <p class="adress__type">Address</p>
                    <p class="address__info">400 first ave. <br>
                        suite 700 <br>
                        Minneapolis, MN 55401
                    </p>

                </div>
                
            </div>
        </div>
    </div>
</section>