<section class="details">
    <div class="container">
        <div class="details__content">
            <h2 class="details__title">The Details</h2>
            <div class="details__info">
                <div class="details__info__picture">
                    <img class="full__picture" src="../img/Image1.png" alt="">
                    <img class="short__picture" src="../img/image 2.png" alt="">
                </div>
                <h3 class="title">Auto Unlock</h3>
                <p class="describe">
                    The app senses when you're nearby to unlock automatically.
                    <br>
                    GPS tracking so you know where your bike is and can track it anytime.
                    </p>

                <div class="details__info__picture">
                    <img class="full__picture" src="../img/image 3.png" alt="">
                    <img class="short__picture" src="../img/image 4.png" alt="">
                </div>
                <h3 class="title">Range & Integrated lights</h3>
                <p class="describe">
                    The removable battery has up to 70km battery autonomy and weighs only 2.4 kg.
                    <br>
                    Lights integrated into the frame give you always-on visibility day and night.
                </p>

                <div class="details__info__picture">
                    <img class="short__picture" src="../img/image 5.png" alt="">
                    <img class="full__picture" src="../img/image 6.png" alt="">
                </div>
                <h3 class="title">Hydraulic disc brakes & Lightweight</h3>
                <p class="describe">
                    Brakes with total stopping power the second you make contact. The removable battery has up to 70km battery
                    <br>
                    autonomy and weighs only 2.4 kg. Lights integrated into the frame give you always-on visibility day and night.
                </p>
            </div>
            <button class="details__btn">
                Explore
            </button>
        </div>
    </div>
</section>