<section class="home">
    <div class="container">
        <div class="home__content">
            <div class="home__info">
                <h2 class="home__info__title">
                    Move Free
                </h2>
                <p class="home__info__describe">
                    Shift your ride, not gears. 
                    Find the fastest way to move in the 
                    city as the bike adapts intuitively to power the speed
                    you need.
                </p>
            </div>

            <div class="home__offer">
                <h2 class="home__offer__title">
                    Compare Bikes
                </h2>

                <div class="home__offer__list">
                    <div class="list__item">

                        <img src="../img/item1.png" alt="">
                        <h3 class="title item__title">Sporty 4</h3>
                        <p class="describe item__describe">The iconic frame brought to a new performance height as a sporty, active ride.</p>
                        <p class="price item__price">$ 2 590</p>

                    </div>

                    <div class="list__item">

                        <img src="../img/item2.png" alt="">
                        <h3 class="title item__title">Ride in town ST</h3>
                        <p class="describe item__describe">An open frame for an upright riding position as the most comfortable ride in town.</p>
                        <p class="price item__price">$ 2 590</p>

                    </div>

                    <div class="list__item">

                        <img src="../img/item3.png" alt="">
                        <h3 class="title item__title">Agile ride 3</h3>
                        <p class="describe item__describe">The lightweight frame that has earned its street tread as a sleek, agile ride.</p>
                        <p class="price item__price">$ 2 090</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>