@mixin onPhone {
    @media (max-width: 744px) {
        @content;
    }
}

@mixin onDesktop {
    @media (max-width: 1024px) {
        @content;
    }
}

.top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    &__image {
        height: 56px;

        @include onPhone {
            height: 38px;
        }
    }
}

.icon {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include onPhone {
        width: 24px;
        height: 24px;
    }

    &--menu {
        background: url(../icons/Icon-Burger-menu.svg);
        background-position: center;

        &:hover {
            background-image: url(../icons/Icon-Burger-menu-hover.svg);
            transition: 0.3s;
        }
    
    }
    &--phone {
        background-image: url(../icons/Icon-Phone-call.png);

    }
    &--close {
        background-image: url(../icons/Icon-Close.svg);
    }
}

.header{
    background-position: center;
    background-size: cover;
    background-image: url(../img/headerBack.jpg);

    @include onPhone {
        background-position: right;
    }

    &__content {
        padding: 34px 0 0 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        height: 100vh;
        @include onPhone() {
            padding: 29px 0 0 0;
        }
    }  

    &__icon {
        display: flex;
        gap: 32px;
        @include onPhone() {
            gap: 24;
        }

    }
    
    &__phone {
        text-decoration: none;

        @include onDesktop {
            &::before {
                content: "+1 234 555-55-55";
                display: block;
                
    
                position: relative;
                top: 50%;
                transform: translate(-100%, -50%);
    
                width: max-content;
                padding-right: 20px;
    
                color: #fff;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 2px;
                text-transform: uppercase;
    
                opacity: 0;
                pointer-events: none;
                
            }

            &:hover::before {
                opacity: 1;
                pointer-events: all;

            }
        }

    }
    &__title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;

        color: #fff;

        white-space: nowrap;
        letter-spacing: -1.5px;


        @include onDesktop {
            font-size: 64px;
        }

        @include onPhone {
            font-size: 36px;
            letter-spacing: -1.5px;

        }
    }
}

.menu {
    background-color: #E5E5E5;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 10;

    width: 100%;

    &__content {
        padding: 36px 0 0 36px;
        height: 100vh;
        box-sizing: border-box;

        @include onDesktop {
            padding: 29px 0 0px 20px;

        }
    }

    &__top {
        margin-bottom: 42px;
        padding-right: 22px;
    }

    &__list {
        list-style: none;
        margin: 0% 0 42px;
        padding: 0%;
    }

    &__item {
        margin-bottom: 12px;

        &:last-child {
            margin: 0%;
        }
    }

    &__link {
        display: inline-block;
        padding-bottom: 8px;
        border-bottom: 1px solid transparent;

        color: #1D1D1D;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: border-color 0.3s;
        white-space: nowrap;

        &:hover {
            border-color: #1D1D1D;
        }
    }

    &__call {
            display: block;
            width: max-content;

            font-family: 'Poppins';
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;

            color: #1D1D1D;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;

        &--phone {
            margin-bottom: 16px;
        }

        &--action {
            padding-bottom: 6px;
            border-bottom: 1px solid #1D1D1D;
        }
    }
}
.menu.active {
    left: 0%;
    transition: 0.3s;
}
body.noscroll {
    overflow: hidden;
}