@mixin onPhone {
    @media (max-width: 744px) {
        @content;
    }
}

@mixin onDesktop {
    @media (max-width: 1024px) {
        @content;
    }
}


.home {
    background-color: #1D1D1D;
    &__content {
        padding-top: 120px;
    }
    &__info {
        display: flex;
        margin-bottom: 144px;

        @include onPhone {
            display: block;
            margin-bottom: 104px;

        }

        &__title {
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 100%;
            font-size: 64px;
            letter-spacing: -1.5px;
            color: #FFFFFF;
            white-space: nowrap;

            margin-right: 120px;

            @include onPhone {
                margin: 0 22px 32px 0;

                font-size: 32px;
            }

            @include onDesktop {
                font-size: 48px;
            }

        }
        &__describe {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 140%;
            color: #FFFFFF;
        }

    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 64px;
            line-height: 100%;

            color: #FFFFFF;

            margin-bottom: 48px;
        }
        &__list{
            display: flex;
            justify-content: space-between;

            @include onDesktop {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .list__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 324px;
        padding: 12px;

        @include onDesktop {
            max-width: 394px;
        }

        img {
            max-width: 324px;

            @include onDesktop {
                max-width: 394px;
            }
        }
    }                  
}

.title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 32px 0 8px 0;
}
.describe {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.price {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}